[package]
name = "rooster"
version = "2.8.6"
authors = ["Conrad Kleinespel <conradk@conradk.com>"]
license = "Apache-2.0"
repository = "https://github.com/conradkleinespel/rooster"
homepage = "https://github.com/conradkleinespel/rooster"
keywords = ["password", "security"]
description = "A simple password manager for geeks"
links = "sodium"
build = "build.rs"
readme = "README.md"

[dependencies]
serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0"
rand = "0.7"
libc = "0.2"
getopts = "0.2"
byteorder = "1.3"
clipboard = "0.5"
rprompt = "1.0"
rpassword = "5.0"
zxcvbn = "2.0"
dirs = "3.0"
openssl = "0.10"
ansi_term = "0.12"
